{erl_opts, [debug_info]}.

{deps, [{poolboy, ".*", {git, "git://github.com/devinus/poolboy.git", {branch, "master"}}}]}.

{xref_checks, [undefined_function_calls, 
               undefined_functions,
               locals_not_used, 
               deprecated_function_calls, 
               deprecated_functions]}.
